body {
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 1fr;
    grid-template-rows: auto 1fr;
    margin: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    background-color: white;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: black solid 1px;
    position: sticky;
    height: 128px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    height: 64px;
}

.profile-bar {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile > img {
    border-radius: 100%;
    border: grey solid 1px;
}

.sidebar {
    background-color: rgb(26, 85, 148);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100vh;
}

.search-bar {
    display: flex;
    gap: 8px;
    justify-content: center; 
}

.lower-header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
}

.welcome-user-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.welcome-user-container > img {
    border-radius: 100%;
    border: grey solid 1px;
}

.welcome-user-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    line-height: 1;
}

.welcome-user-buttons {
    display: flex;
    gap: 16px;
}